<div class="container">
    <div class="jumbotron">
        <h4>Contribute!</h4>
        <p>The data from this list came from the Ministry of Trade's Consumer Affairs Division <a href="http://tradeind.gov.tt/Portals/0/Supermarket%20Prices%20Booklet.pdf">booklet of supermarket prices</a></p>
        <p>It's currently a snapshot.  Having access to the actual location of the list data, in an open format would allow this solution to be refreshed more readily</p>
        <p>There are also other cool remixes that can be done with this data, so have at it!</p>
    </div>
</div>